
<div class="searchBar">
<form class="form-inline">
  <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="filterPost" [(ngModel)]="filterPost">
  <button class="btn btn-outline-success"  (click)="searchByUserId(filterPost)">Search</button>
</form>
</div>
<div class="container home-users">
<div class="card" *ngFor="let post of posts; let i = index">
    <ul  class="list-group list-group-flush">
      <div hidden>{{i}}</div>
      <li class="list-group-item">{{post.title}}
        <button id="btnPerfil" type="button" (click)="getPost(i)" [routerLink]="['/post']" routerLinkActive="active"  class="btn btn-primary">Ver Post</button>
       </li>
    </ul>
</div>
</div>